/* Grundlegende Schriftart */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #fff;
    font-family: Open-Sans, sans-serif;
}

/* Farbvariablen */
:root {
    --primary-color: #237fc1;
    --secondary-color: #3ba4cf;
    --accent-color: #6cd5e8;
}

.button {
    background-color: var(--primary-color);
    color: #000000;
    border: none;
    padding: 0.6em 1.2em;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: #2169ac;
}

.header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
}

.section-highlight {
    background-color: var(--accent-color);
    padding: 1.5rem;
    border-radius: 6px;
}
